<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :image_id %><br />
          <%= f.text_field :image_id %>
        </div>
        <div class="field">
          <%= f.label :comment_text %><br />
          <%= f.text_field :comment_text %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
      <td>
        <img src="http://dththdwo6977i.cloudfront.net/images/225/<%= @comment.image_id %>.jpg" width="225" />
      </td>
    </tr>
  </table>
<% end %>
