<h1>Listing comments</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Comment text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><img src="https://s3.amazonaws.com/d2newyork/images/225/<%= comment.image_id %>.jpg" width="225" /></td>
    <td><%= comment.comment_text %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
