<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'NEXT COMMENT', edit_comment_path(Comment.where("id > ?", @comment.id).first) %>  
</p>

<p>
  <img src="http://dththdwo6977i.cloudfront.net/images/225/<%= @comment.image_id %>.jpg" width="225" />
</p>

<p>
  <%= @comment.comment_text %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'All Comments', comments_path %>
