<div class="after-wrapper">
  
	<div>
    <div id="main-nav">
      <ul>
        <li><%= link_to 'Wedding Photos', wedding_path, :'data-filter' => '*' %> <%= link_to '(prints?)', "http://danstorms.smugmug.com/buy/32200676_Psqh5V/", :target => "_blank" %></li>
        <li><a class='vimeo' href="http://player.vimeo.com/video/73053462?byline=0&amp;portrait=0" title='D2 Wedding Video' 
              comment=''>Wedding Video!!!</a></li>
        <li><a class='vimeo' href="http://player.vimeo.com/video/64022777?byline=0&amp;portrait=0" title='Mike &amp; Chris Storms - Best Man Speech' 
              comment=''>Best Man Speech Video</a></li>
        <li class="selected"><%= link_to 'Honeymoon Photos', honeymoon_path, :'data-filter' => '*' %> <%= link_to '(prints?)', "http://danstorms.smugmug.com/buy/32203696_mDVnrd/", :target => "_blank" %></li>
      </ul>
    </div>

  	<div id="spinner"><img src="/assets/loading.gif"></div>

    <div id="filters">
      <ul>
        <li><a href="#" data-filter=".canary">Canary Islands</a></li>
        <li><a href="#" data-filter=".sevilla">Sevilla</a></li>
        <li><a href="#" data-filter=".granada">Granada</a></li>
        <li><a href="#" data-filter=".morocco">Morocco</a></li>
      </ul>
    </div>
    
      <div id="container">
        <% (1..18).each do |i| %>
          <div class="box canary">
  			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/<%= i %>.jpg' title='Honeymoon - Canary Islands' comment='<%= Comment.find_by_image_id(i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/<%= i %>.jpg" /></a>
  			  </div>
  			<% end %>
        <% (19..37).each do |i| %>
          <div class="box sevilla">
  			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/<%= i %>.jpg' title='Honeymoon - Sevilla' comment='<%= Comment.find_by_image_id(i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/<%= i %>.jpg" /></a>
  			  </div>
  			<% end %>
        <% (40..67).each do |i| %>
          <div class="box granada">
  			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/<%= i %>.jpg' title='Honeymoon - Granada' comment='<%= Comment.find_by_image_id(i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/<%= i %>.jpg" /></a>
  			  </div>
  			<% end %>
        <% (68..105).each do |i| %>
          <div class="box morocco">
  			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/<%= i %>.jpg' title='Honeymoon - Morocco' comment='<%= Comment.find_by_image_id(i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/<%= i %>.jpg" /></a>
  			  </div>
  			<% end %>
  		</div>
	</div>

</div>

<script src="/assets/jquery-1.7.1.min.js"></script>
<script src="/assets/jquery.isotope.min.js"></script>
<script src="/assets/fake-element.js"></script>
<script src="/assets/jquery.colorbox-min.js"></script>
<script>
  var $container = $('#container');
  
  $container.imagesLoaded( function(){
    $('#spinner').fadeOut();
    $('#filters').fadeIn();
    $('#container').fadeIn();
    $container.isotope({
      // options
      itemSelector : '.box',
      layoutMode : 'masonry'
    });
  });
  
  // filter items when filter link is clicked
  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector });
    return false;
  });
  
</script>
<script>
  $(document).ready(function(){
    $('#filters').hide();
    $('#container').hide();
	  $(".gallery").colorbox({rel:'gallery'});
	  $(".vimeo").colorbox({iframe:true, innerWidth:960, innerHeight:540});
  });
  $(document).bind('cbox_complete', function(){
      var extra = $.colorbox.element().attr('comment');
      if (extra) {
        $('#cboxLoadedContent').append('<div id="extra-info">' + extra + '</div>');
      }
  });
</script>
