<div class="after-wrapper">
  
	<div>
    <div id="main-nav">
      <ul>
        <li class="selected"><%= link_to 'Wedding Photos', wedding_path, :'data-filter' => '*'%></li>
        <li><a class='vimeo' href="http://player.vimeo.com/video/73053462?byline=0&amp;portrait=0" title='D2 Wedding Video' 
              comment=''>Wedding Video</a></li>
        <li><a class='vimeo' href="http://player.vimeo.com/video/64022777?byline=0&amp;portrait=0" title='Mike &amp; Chris Storms - Best Man Speech Video' 
              comment=''>Best Man Speech Video</a></li>
        <li><%= link_to 'Honeymoon Photos', honeymoon_path, :'data-filter' => '*' %></li>
      </ul>
    </div>

    <div id="purchase">
      <ul>
        <li><%= link_to 'Click to Purchase >>', "http://danstorms.smugmug.com/buy/32200676_Psqh5V/", :target => "_blank" %></li>
      </ul>
    </div>
    
  	<div id="spinner"><img src="/assets/loading.gif"></div>

    <div id="filters">
      <ul>
        <li><a href="#" data-filter=".before">Pregame</a></li>
        <li><a href="#" data-filter=".ceremony">Ceremony</a></li>
        <li><a href="#" data-filter=".reception">Reception</a></li>
      </ul>
    </div>
  
    <div id="container">
      <% (1..40).each do |i| %>
        <div class="box before">
			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/_<%= i %>.jpg' title='Wedding - Pregame' comment='<%= Comment.find_by_image_id("_" + i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>

      <% (41..63).each do |i| %>
        <div class="box ceremony">
			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/_<%= i %>.jpg' title='Wedding - Ceremony' comment='<%= Comment.find_by_image_id("_" + i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>
      <% (64..101).each do |i| %>
        <div class="box reception">
			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/_<%= i %>.jpg' title='Wedding - Reception' comment='<%= Comment.find_by_image_id("_" + i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>
      <% (103..115).each do |i| %>
        <div class="box reception">
			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/_<%= i %>.jpg' title='Wedding - Reception' comment='<%= Comment.find_by_image_id("_" + i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>
      <% (121..138).each do |i| %>
        <div class="box reception">
			    <a class='gallery' href='http://dththdwo6977i.cloudfront.net/images/800/_<%= i %>.jpg' title='Wedding - Reception' comment='<%= Comment.find_by_image_id("_" + i.to_s).comment_text %>'><img src="http://dththdwo6977i.cloudfront.net/images/225/_<%= i %>.jpg" id='img_<%= i %>' width="225" /></a>
			  </div>
			<% end %>

		</div>
	</div>

</div>

<script src="/assets/jquery-1.7.1.min.js"></script>
<script src="/assets/jquery.isotope.min.js"></script>
<script src="/assets/fake-element.js"></script>
<script src="/assets/jquery.colorbox-min.js"></script>
<script>
  var $spinner = $('#spinner');
  var $container = $('#container');
  var $filters = $('#filters');
  
  $container.imagesLoaded( function(){
    $spinner.fadeOut();
    $filters.fadeIn();
    $container.fadeIn();
    $container.isotope({
      // options
      itemSelector : '.box',
      layoutMode : 'masonry'
    });
  });
  
  // filter items when filter link is clicked
  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector });
    return false;
  });
  
</script>
<script>
  $(document).ready(function(){
	  $(".gallery").colorbox({rel:'gallery'});
	  $(".vimeo").colorbox({iframe:true, innerWidth:960, innerHeight:540});
  });
  $(document).bind('cbox_complete', function(){
      var extra = $.colorbox.element().attr('comment');
      if (extra) {
        $('#cboxLoadedContent').append('<div id="extra-info">' + extra + '</div>');
      }
  });
</script>
