<div class="after-wrapper">
  
	<div>
    <div id="main-nav">
      <ul>
        <li class="selected"><%= link_to 'Wedding Photos', wedding_path, :'data-filter' => '*' %></li>
        <li><a class='vimeo' href="http://player.vimeo.com/video/64006101?byline=0&amp;portrait=0">Wedding Video!!!</a></li>
        <li><a class='vimeo' href="http://player.vimeo.com/video/64022777?byline=0&amp;portrait=0">Best Man Speech Video</a></li>
        <li><%= link_to 'Honeymoon Photos', honeymoon_path, :'data-filter' => '*' %></li>
      </ul>
    </div>

  	<div id="spinner"><img src="/assets/images/loading.gif"></div>

    <div id="filters">
      <ul>
        <li><a href="#" data-filter=".before">Pregame</a></li>
        <li><a href="#" data-filter=".ceremony">Ceremony</a></li>
        <li><a href="#" data-filter=".reception">Reception</a></li>
      </ul>
    </div>
  
    <div id="container">
      <% (1..40).each do |i| %>
        <div class="box before">
			    <a class='gallery' href='https://s3.amazonaws.com/d2newyork/images/800/_<%= i %>.jpg' title='Wedding - Before'><img src="https://s3.amazonaws.com/d2newyork/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>
      <% (41..63).each do |i| %>
        <div class="box ceremony">
			    <a class='gallery' href='https://s3.amazonaws.com/d2newyork/images/800/_<%= i %>.jpg' title='Wedding - Ceremony'><img src="https://s3.amazonaws.com/d2newyork/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>
      <% (64..115).each do |i| %>
        <div class="box reception">
			    <a class='gallery' href='https://s3.amazonaws.com/d2newyork/images/800/_<%= i %>.jpg' title='Wedding - Reception'><img src="https://s3.amazonaws.com/d2newyork/images/225/_<%= i %>.jpg" width="225" /></a>
			  </div>
			<% end %>
      <% (121..138).each do |i| %>
        <div class="box reception">
			    <a class='gallery' href='https://s3.amazonaws.com/d2newyork/images/800/_<%= i %>.jpg' title='Wedding - Reception'><img src="https://s3.amazonaws.com/d2newyork/images/225/_<%= i %>.jpg" id='img_<%= i %>' width="225" /></a>
			  </div>
			<% end %>
		</div>
	</div>

</div>

<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/javascripts/jquery.isotope.min.js"></script>
<script src="/javascripts/fake-element.js"></script>
<script src="/javascripts/jquery.colorbox-min.js"></script>
<script>
  var $container = $('#container');
  
  $container.imagesLoaded( function(){
    $('#spinner').fadeOut();
    $('#filters').fadeIn();
    $('#container').fadeIn();
    $container.isotope({
      // options
      itemSelector : '.box',
      layoutMode : 'masonry'
    });
  });
  
  // filter items when filter link is clicked
  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector });
    return false;
  });
  
</script>
<script>
  $(document).ready(function(){
    $('#filters').hide();
    $('#container').hide();
	  $(".gallery").colorbox({rel:'gallery'});
	  $(".vimeo").colorbox({iframe:true, innerWidth:960, innerHeight:540});
  });
</script>
