<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<div class="field">
		  <%= f.label :name %><br />
		  <%= f.text_field :name, :class => "textfield" %>
		</div>
		<div class="field">
		  <%= f.label :email %><br />
		  <%= f.text_field :email, :class => "textfield" %>
		</div>
		<div class="field">
		  Bringing a <%= f.label :guest %>?<br />
	  	<%= f.select :guest, [['No','no'],['Yes','yes']], :class => "textfield" %> <br />
			Who? <br />
	    <%= f.text_field :guest_name, :class => "textfield" %></div>
		<div class="field">
		  <%= f.label :mobile_phone %><br />
		  <%= f.text_field :mobile_phone, :value => "234-567-8901", :class => "textfield" %>
		</div>
		<div class="field">
		  <%= f.label :facebook_url %><br />
			<div class="subtext">this is your FB homepage link
				<br />(eg. http://www.facebook.com/startstorms)</div>
		  <%= f.text_field :facebook_url, :value => "http://www.facebook.com/", :class => "textfield" %>
		</div>
		<div class="field">
		  <%= f.label :twitter_handle %><br />
			<div class="subtext">(eg. @startstorms)</div>
		  @<%= f.text_field :twitter_handle, :class => "textfield" %>
		</div>
	  <div class="actions">
	    <%= f.submit "Submit" %>
	  </div>
	<% end %>
