<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<div class="field">
		  <%= f.label :name %><br />
		  <%= f.text_field :name, :class => "textfield" %>
		</div>
		<div class="field">
		  <%= f.label :email %><br />
		  <%= f.text_field :email, :class => "textfield" %>
		</div>
		<div class="field">
		  Bringing a <%= f.label :guest %>?<br />
	  	<%= f.select :guest, [['Yes','yes'],['No','no']], :class => "textfield" %> &nbsp; Who? <br />
	    &nbsp; <%= f.text_field :guest_name, :class => "textfield" %></div>
		<div class="field">
		  <%= f.label :mobile_phone %><br />
		  <%= f.text_field :mobile_phone, :class => "textfield" %>
		</div>
		<div class="field">
		  <%= f.label :facebook_url %><br />
		  <%= f.text_field :facebook_url, :class => "textfield" %>
		</div>
		<div class="field">
		  <%= f.label :twitter_handle %><br />
		  @<%= f.text_field :twitter_handle, :class => "textfield" %>
		</div>
	  <div class="actions">
	    <%= f.submit "Sign up" %>
	  </div>
	<% end %>
