<!-- auto redirect in 5 secs -->
<meta http-equiv="refresh" content="10;url=/info">


<p id="notice"><%= notice %></p>

<h1>Thanks for your RSVP!</h1>

<p>You'll be redirected now to the Info page to continue...</p>

<p>
  <b>Name:</b>
  <%= @email.name %>
</p>

<p>
  <b>Email:</b>
  <%= @email.email %>
</p>

<p>
  <b>Guest?</b>
  <%= @email.guest %><br />
	<%= @email.guest_name %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @email.mobile_phone %>
</p>

<p>
  <b>Facebook url:</b>
  <%= @email.facebook_url %>
</p>

<p>
  <b>Twitter handle:</b>
  <%= @email.twitter_handle %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Main', main_path %>
