<p>Want to <%= link_to "see the schedule", schedule_path() %>?</p>

<p>Wondering <%= link_to "where you'll stay", info_path() %>?</p>

<p>If you see something you want to change, <%= link_to 'click here to edit', edit_email_path(@email) %>.</p>


<p>
  <b>Name:</b>
  <%= @email.name %>
</p>

<p>
  <b>Email:</b>
  <%= @email.email %>
</p>

<p>
  <b>Guest?</b>
  <%= @email.guest %><br />
	<%= @email.guest_name %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @email.mobile_phone %>
</p>

<p>
  <b>Facebook url:</b>
  <%= @email.facebook_url %>
</p>

<p>
  <b>Twitter handle:</b>
  <%= @email.twitter_handle %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Main', main_path %>
