<header>
	<div align="center"><a href="main"><img src="http://d2newyork.com/images/d2newyork_header.png"></a></div>
  <nav class="round">
    <ul>
      <li><%= link_to "Main", main_path %></li>
			
      <li><%= link_to "RSVP", rsvp_path %></li>
			
      <li><%= link_to "Schedule", schedule_path %></li>
			
      <li><%= link_to "Hotels", info_path %></li>

      <li><%= link_to "Registry", registry_path %></li>
			
      <li><%= link_to "Visit", visit_path %></li>
			
    </ul>
  </nav>
</header>
