<header>
	<h1>D2NEWYORK</h1>
  <nav class="round">
    <ul>
      <li><%= link_to "Main", main_path %></li>
			
      <li><%= link_to "RSVP", rsvp_path %></li>
			
      <li><%= link_to "Schedule", schedule_path %></li>
			
      <li><%= link_to "Hotels", info_path %></li>

      <li><%= link_to "Registry", registry_path %></li>
			
    </ul>
  </nav>

</header>
